.cowsay-dialog {
    margin-left: auto;
    margin-right: auto;
    z-index: 10001;
    background: #fff;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 6px;
    box-shadow: 8px 8px 10px rgba(50, 50, 50, 0.35);
    width: 500px;
}

.cowsay-prompt {
    padding: 3px;
    font: 14pt monospace;   
}

.cowsay-input {
    font: 14pt monospace;
    min-width: 340px;
    padding: 2px;
    outline: 4px white inset;
}